h1{
    text-align:left;
    font-family:'Poppins',sans-serif;
    margin-left: 50px;
    margin-top:60px;
}
.button{
    background-color: #FFC200;
    border: none;
    color: rgb(8, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-family:'Poppins',sans-serif;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    margin-right:40px;
    margin-top:-58px;
    float:right;
}
img{
    width:750px;
    height:750px;
    margin-top:-80px;
}
h2{
    font-family:'Poppins',sans-serif;
    color:#7EBAD2;
    font-size:30px;
}
h3{
    font-family:'Poppins',sans-serif;
}
input{
    border: 1px solid black;
  border-radius: 15px;
  padding: 15px 32px;
  font-size:15px;

}
.new{
    background-color: #FFC200;
    border: none;
    border-radius: 15px;
    color: rgb(8, 0, 0);
    padding: 15px 92px;
    font-family:'Poppins',sans-serif;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
}
div{
    text-align:center;
    float:right;
    margin-right:50px;
    margin-top:-550px;
}